# Database
DATABASE_URL=postgresql://user:password@host:5432/sso_auth

# Better Auth
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000

# Registration
NUXT_PUBIC_EMAIL_DOMAIN=example.com